<% if @users.present? %>
	<% @users.each do |user| %>
		<tr>
			
			<td><%= user.email %></td>
			<td><%= user.role.name %></td>
			<td>
			<div class="action-buttons">
				<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_user_path(user), title: "Modifier", remote: true %>


<% if is_account_locked?(user) %>
	<%= link_to raw('<i class="fa fa-ban" aria-hidden="true"></i>
	'), get_enable_user_account_path(user.id), remote: true, title: "Compte inactif. Cliquez pour l'activé", class: "delete" %>
<% else %>
<%= link_to raw('<i class="fa fa-check-circle" aria-hidden="true"></i>
	'),  get_disable_user_account_path(user.id), remote: true, title: "Compte actif. Cliquez pour le désactivé", class: "delete" %>
<% end %>

<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), delete_user_path(user), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>

			  </tr>
			<% end %>
			<% end %>