<p id="notice"><%= notice %></p>

<h1>Hta Monitorings</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Tas</th>
      <th>Tad</th>
      <th>Status</th>
      <th>Comments</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hta_monitorings.each do |hta_monitoring| %>
      <tr>
        <td><%= hta_monitoring.patient_id %></td>
        <td><%= hta_monitoring.tas %></td>
        <td><%= hta_monitoring.tad %></td>
        <td><%= hta_monitoring.status %></td>
        <td><%= hta_monitoring.comments %></td>
        <td><%= hta_monitoring.user_id %></td>
        <td><%= link_to 'Show', hta_monitoring %></td>
        <td><%= link_to 'Edit', edit_hta_monitoring_path(hta_monitoring) %></td>
        <td><%= link_to 'Destroy', hta_monitoring, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hta Monitoring', new_hta_monitoring_path %>
