<%= form_with(model: prescription) do |form| %>
  <% if prescription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>

      <ul>
        <% prescription.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-md-6 form-group ">
      <%= form.label :patient_id, class: "required" %>
         <%= form.collection_select :patient_id,  @patients, :id, :full_name, {prompt: "Sélectionner"}, style: "width: 100%",  class: "form-control", required: true %>

    </div>
  </div>

  

  <!-- Fieldset informations -->
      <fieldset>
        <div class="row">
          <div class="prescription-items">

            <table class="table  responsive ">
              <thead>
                <tr role="row">
                
                  <th>Médicament</th>
                   <th>Posologie</th>
                   

                </tr>
              </thead>
                <tbody class="items">
                  <%= form.fields_for :prescription_items do |item| %>
                      <%= render 'prescription_item_fields', f: item %>
                  <% end %>
                </tbody>
            </table>
          
          </div> 
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= link_to_add_association raw('<i class="fa fa-plus" aria-hidden="true"></i> Ajouter'), form, :prescription_items, class: 'btn btn-primary', data: { association_insertion_node: '.items', association_insertion_method: :append } %>
            </div>
          </div>
        </div>
    
  </fieldset>

  
<div class="row">
  <div class="col-md-12">
    <div class="form-group pull-right">
      
    <%= form.submit class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1" %>
 
    </div>
  </div>
  </div>
<% end %>
