<% @prescriptions.each do |prescription| %>
  <tr>
    <td><%= prescription.created_at.strftime("%d/%m/%Y") %></td>
    <td><%= prescription.doctor.userable.full_name %></td>
    <td><%= prescription.patient.userable.full_name %></td>
    <td>
        <div class="action-buttons">
            <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_prescription_path(prescription), title: "Modifier", remote: false %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), prescription_delete_path(prescription), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
  </tr>
<% end %>