<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @prescription.uid %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @prescription.doctor_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @prescription.patient_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @prescription.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @prescription.user_id %>
</p>

<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>
