
<div class="signin-page">
    <div class="signin--page__header">
			<div class="signin-logo tx-center tx-28 tx-bold tx-inverse">
				<%= render 'components/logo/logo' %>
			</div>
		<div class="tx-center mg-b-20">Veuillez vous connecter!</div>
	</div>
	
	<div class="sigin-page__body">
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class="form-group">
				<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control",  placeholder: "Votre e-mail" %>
			</div>

			<div class="form-group">
				<%= f.password_field :password, autocomplete: "current-password", class: "form-control",  placeholder: "Votre mot de passe" %>
			</div>

			<% if devise_mapping.rememberable? -%>
				<div class="form-group">
				<%= f.check_box :remember_me %>
				<%= f.label "Se souvenir de moi" %>
				</div>
			<% end -%>

			 <div class="form-group text-center">
			 	<div class="recaptcha_error">
		          
		        </div>
        
      </div>
        
      </div>

			<div class="form-group">
				<%= f.submit "Se connecter", class: "btn btn-primary btn-block lift" %>
			</div>
		<% end %>
    </div>
              
	<div class="o-line">
        <div class="mg-t-10 tx-center">
				<%= link_to "Mot de passe oublié?", new_password_path(resource_name), class: "tx-info" %>
			</div>
			<div class="mg-t-10 tx-center">
				Pas encore de compte? <%= link_to "Créer un compte", new_user_registration_path(), class: "tx-info" %>
			</div>

	</div>
   

</div>