<div class="container main-container">
    <div class="card">
        <div class="card-header">
            <h5>Liste pour le profil: <%= @speciality.name %></h5>
        </div>

        <div class="card-body">
          <% if @doctors.present? %>
        <div class="row">
            <% @doctors.each do |doctor| %>
                <div class="col-md-3">
                    <div class="user-card" >
                        <div class="user-card-body">
                            <%= link_to  show_doctor_profile_path(doctor.user_id) do  %>
                                <div class="user-thumb">
                                    <%= user_avatar(user(doctor.user_id), "Avatar", "")%>
                                </div>
                            <% end %>
                            
                            <div class="user-name title-bold title-black">
                                <%= link_to "#{doctor.first_name.humanize} #{doctor.last_name.upcase}", show_doctor_profile_path(doctor.user_id) %>
                            </div>
                            <div class="user-location title-normal title-black-light">
                                <%= doctor.speciality %>
                            </div>
                            <div class="user-location title-normal title-black-light">
                                <%= "#{locality(doctor.locality_id).city if doctor.locality_id.present? }" %><br />
                                <%= "Vues: #{doctor.views }" %>
                            </div>
                            <div class="send-flirt">
                                <%= link_to "PRENDRE RENDEZ-VOUS", show_doctor_profile_path(doctor.user_id) , class: "btn btn-primary"  %>
                            </div>
                        </div> 
                        <div class="user-card-footer">
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
      <% else %>
        <h5 class="text-center">Pas de médecins</h2>
      <% end %>
        </div>
    </div>
</div>