<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @smtp_config.host %>
</p>

<p>
  <strong>User name:</strong>
  <%= @smtp_config.user_name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @smtp_config.password %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @smtp_config.domain %>
</p>

<p>
  <strong>Address:</strong>
  <%= @smtp_config.address %>
</p>

<p>
  <strong>Port:</strong>
  <%= @smtp_config.port %>
</p>

<p>
  <strong>Authentification:</strong>
  <%= @smtp_config.authentification %>
</p>

<p>
  <strong>Enable starttls auto:</strong>
  <%= @smtp_config.enable_starttls_auto %>
</p>

<p>
  <strong>Ssl:</strong>
  <%= @smtp_config.ssl %>
</p>

<p>
  <strong>User:</strong>
  <%= @smtp_config.user %>
</p>

<%= link_to 'Edit', edit_smtp_config_path(@smtp_config) %> |
<%= link_to 'Back', smtp_configs_path %>
