<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @diabete_monitoring.uid %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @diabete_monitoring.patient_id %>
</p>

<p>
  <strong>Glycemie a jeun:</strong>
  <%= @diabete_monitoring.glycemie_a_jeun %>
</p>

<p>
  <strong>Sueurs:</strong>
  <%= @diabete_monitoring.sueurs %>
</p>

<p>
  <strong>Sensation de faim:</strong>
  <%= @diabete_monitoring.sensation_de_faim %>
</p>

<p>
  <strong>Tremblement:</strong>
  <%= @diabete_monitoring.tremblement %>
</p>

<p>
  <strong>Vertige:</strong>
  <%= @diabete_monitoring.vertige %>
</p>

<p>
  <strong>Irritabilite:</strong>
  <%= @diabete_monitoring.irritabilite %>
</p>

<p>
  <strong>Polyurie majoree:</strong>
  <%= @diabete_monitoring.polyurie_majoree %>
</p>

<p>
  <strong>Fatigue majoree:</strong>
  <%= @diabete_monitoring.fatigue_majoree %>
</p>

<p>
  <strong>Amaigrissement:</strong>
  <%= @diabete_monitoring.amaigrissement %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @diabete_monitoring.comments %>
</p>

<p>
  <strong>Status:</strong>
  <%= @diabete_monitoring.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @diabete_monitoring.user_id %>
</p>

<%= link_to 'Edit', edit_diabete_monitoring_path(@diabete_monitoring) %> |
<%= link_to 'Back', diabete_monitorings_path %>
