<%= form_with(model: medication_schedule, local: false) do |form| %>
   <div class="modal-body">
    <ul class="errors">
    </ul>

    <div class="row">
      <div class="col-md-12">

        <div class="form-group ">
          <%= form.label :patient_id, class: "required" %>
             <%= form.collection_select :patient_id,  @patients, :id, :full_name, {prompt: "Sélectionner"}, style: "width: 100%",  class: "form-control", required: true %>

        </div>

       
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= form.label :morning_number, "Nbre matin", class: "required" %>
              <%= form.number_field :morning_number, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= form.label :noon_number, "Nbre midi" %>
              <%= form.number_field :noon_number, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= form.label :evening_number, "Nbre soir" %>
              <%= form.number_field :evening_number, class: "form-control" %>
            </div>
          </div>
        </div>


        <div class="form-group">
          <%= form.label :comments, "Commentaires" %>
          <%= form.text_area :comments, class: "form-control" %>
        </div>
      </div>
    </div>

  

  </div><!-- modal body -->
  <div class="modal-footer">
    <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
    <%= form.submit  class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
  </div>
<% end %>
