<p id="notice"><%= notice %></p>

<h1>Medication Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Doctor</th>
      <th>Patient</th>
      <th>Morning number</th>
      <th>Noo number</th>
      <th>Evening number</th>
      <th>Status</th>
      <th>Comments</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medication_schedules.each do |medication_schedule| %>
      <tr>
        <td><%= medication_schedule.uid %></td>
        <td><%= medication_schedule.doctor_id %></td>
        <td><%= medication_schedule.patient_id %></td>
        <td><%= medication_schedule.morning_number %></td>
        <td><%= medication_schedule.noo_number %></td>
        <td><%= medication_schedule.evening_number %></td>
        <td><%= medication_schedule.status %></td>
        <td><%= medication_schedule.comments %></td>
        <td><%= medication_schedule.user_id %></td>
        <td><%= link_to 'Show', medication_schedule %></td>
        <td><%= link_to 'Edit', edit_medication_schedule_path(medication_schedule) %></td>
        <td><%= link_to 'Destroy', medication_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medication Schedule', new_medication_schedule_path %>
