<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @medication_schedule.uid %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @medication_schedule.doctor_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @medication_schedule.patient_id %>
</p>

<p>
  <strong>Morning number:</strong>
  <%= @medication_schedule.morning_number %>
</p>

<p>
  <strong>Noo number:</strong>
  <%= @medication_schedule.noo_number %>
</p>

<p>
  <strong>Evening number:</strong>
  <%= @medication_schedule.evening_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @medication_schedule.status %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @medication_schedule.comments %>
</p>

<p>
  <strong>User:</strong>
  <%= @medication_schedule.user_id %>
</p>

<%= link_to 'Edit', edit_medication_schedule_path(@medication_schedule) %> |
<%= link_to 'Back', medication_schedules_path %>
