<div class="dropdown">
    <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
        <span class="logged-name hidden-md-down"><%= current_user.login %></span>
            <%= thumb_avatar(32)%>
        <span class="square-10 bg-success"></span>
    </a>
    <div class="dropdown-menu dropdown-menu-header wd-250">
        <div class="tx-center">
        <%= thumb_avatar(80)%>

        <h6 class="logged-fullname"><%= current_user.email %></h6>
        <p><%= current_user.email %></p>
        </div>
        <hr>
        <div class="tx-center">
        
        </div>
        
        <ul class="list-unstyled user-profile-nav">
            
            <li><%= link_to "Mon profil" ,   edit_account_path(current_user.profile.uid), class: "dropdown-item" %> </li>
            <div class="dropdown-divider"></div>
            <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete,  class: "dropdown-item"  %></li>


        </ul>
    </div><!-- dropdown-menu -->
</div><!-- dropdown -->