<% if @users.present? %>
<% @users.each do |user| %>
			  <tr>
			  		<!-- <td><%= user.login %></td>-->
					<td><%= user.email %></td>
					<td><%= role(user.role_id).name  %></td>
					


					<td>
					<div class="action-buttons">
					<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_user_path(user), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), delete_user_path(user), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>

			  </tr>
			<% end %>
			<% end %>