<!-- ########## START: LEFT PANEL ########## -->

      <ul class="br-sideleft-menu">
       <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-home tx-20"></i> <span class="menu-item-label">Tableau de bord</span>'), dashboard_path, class: "br-menu-link active" %>
        </li><!-- br-menu-item -->

       

        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-money tx-20"></i>
            <span class="menu-item-label">Opérations</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">
            
            <li class="sub-item">
                <%= link_to  "Dépots", deposits_path, class: "sub-link" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Retraits", withdrawals_path, class: "sub-link" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Transferts", transfers_path, class: "sub-link" %>
            </li>

           

          </ul>
        </li>


        

       <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-bar-chart tx-20"></i>
            <span class="menu-item-label">Situations</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">
            
            <li class="sub-item">
                <%= link_to  "Mon solde", my_balance_path, class: "sub-link" %>
            </li>

            
          </ul>
        </li>

        
        
       
      </ul><!-- br-sideleft-menu -->

      
       
        
      </div><!-- info-list -->

    <!-- ########## END: LEFT PANEL ########## -->