<!-- ########## START: LEFT PANEL ########## -->

      <ul class="br-sideleft-menu">
       <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-home tx-20"></i> <span class="menu-item-label">Tableau de bord</span>'), dashboard_path, class: "br-menu-link #{current? "active", dashboard_path}" %>
        </li><!-- br-menu-item -->

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-calendar tx-20"></i> <span class="menu-item-label">Rendez-vous</span>'), appointments_path, class: "br-menu-link #{current? "active", appointments_path}" %>
        </li><!-- br-menu-item -->

        
        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-file-text-o tx-20"></i> <span class="menu-item-label">Ordonnances</span>'), prescriptions_path, class: "br-menu-link #{current? "active", prescriptions_path}" %>
        </li><!-- br-menu-item -->

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-bed tx-20"></i> <span class="menu-item-label">Patients</span>'), patient_profiles_path, class: "br-menu-link #{current? "active", patient_profiles_path}" %>
        </li><!-- br-menu-item -->

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-user-md tx-20"></i> <span class="menu-item-label">Médecins</span>'), doctor_profiles_path, class: "br-menu-link #{current? "active", doctor_profiles_path}" %>
        </li><!-- br-menu-item -->

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-hospital-o tx-20"></i> <span class="menu-item-label">Structures</span>'), structure_profiles_path, class: "br-menu-link #{current? "active", structure_profiles_path}" %>
        </li><!-- br-menu-item -->

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-clock-o tx-20"></i> <span class="menu-item-label">Prise de médicaments</span>'), medication_schedules_path, class: "br-menu-link #{current? "active", medication_schedules_path}" %>
        </li><!-- br-menu-item -->


       

        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-medkit tx-20"></i>
            <span class="menu-item-label">Suivis</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">
            
            <li class="sub-item">
                <%= link_to  "HTA", hta_monitorings_path, class: "sub-link #{current? "active", hta_monitorings_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Diabètes", diabete_monitorings_path, class: "sub-link #{current? "active", diabete_monitorings_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Insuffisances cardiaque", heart_failure_monitorings_path, class: "sub-link #{current? "active", heart_failure_monitorings_path}" %>
            </li>

            
      


          </ul>
        </li>
         

        
        
         
    



          </ul>
        </li>


       


        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-cog tx-20"></i>
            <span class="menu-item-label">Paramètres</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">

            <li class="sub-item">
                <%= link_to  "Fonctionalités", features_path, class: "sub-link #{current? "active", features_path}" %>
            </li>
            
            <li class="sub-item">
                <%= link_to  "Rôles", roles_path, class: "sub-link #{current? "active", roles_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Droits d'accès", permissions_path, class: "sub-link #{current? "active", permissions_path}" %>
            </li>



            <li class="sub-item">
                <%= link_to  "Utilisateurs", all_users_path, class: "sub-link #{current? "active", all_users_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Types de structure", structure_types_path, class: "sub-link #{current? "active", structure_types_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Spécialités", specialities_path, class: "sub-link #{current? "active", specialities_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Pays", countries_path, class: "sub-link #{current? "active", countries_path}" %>
            </li>

           

            <li class="sub-item">
                <%= link_to  "Serveur SMTP", smtp_configs_path, class: "sub-link #{current? "active", smtp_configs_path}" %>
            </li>

            

            



          



          </ul>
        </li>


       
      </ul><!-- br-sideleft-menu -->

      
       
        
      </div><!-- info-list -->

    <!-- ########## END: LEFT PANEL ########## -->