<%= form_with(model: permission_item, local: true) do |form| %>
  <% if permission_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permission_item.errors.count, "error") %> prohibited this permission_item from being saved:</h2>

      <ul>
      <% permission_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uid %>
    <%= form.text_field :uid %>
  </div>

  <div class="field">
    <%= form.label :permission_id %>
    <%= form.text_field :permission_id %>
  </div>

  <div class="field">
    <%= form.label :action_name %>
    <%= form.text_field :action_name %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
