<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @permission_item.uid %>
</p>

<p>
  <strong>Permission:</strong>
  <%= @permission_item.permission %>
</p>

<p>
  <strong>Action name:</strong>
  <%= @permission_item.action_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @permission_item.status %>
</p>

<%= link_to 'Edit', edit_permission_item_path(@permission_item) %> |
<%= link_to 'Back', permission_items_path %>
