<%= form_with(model: user, url: update_user_path, local: false) do |form| %>
	<div class="modal-body">
		<ul class="errors">
    	</ul>

	<%= form.fields_for :profile do |p| %>
		<!-- Fieldset informations -->
		<fieldset>
		<legend>Informations </legend>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
					<%= p.label "Prénom" %>
					<%= p.text_field :first_name, class: "form-control", placeholder: "Prénom" %>
					</div>

					<div class="form-group">
					<%= p.label "Nom" %>
					<%= p.text_field :last_name , class: "form-control", placeholder: "Nom", required: true %>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
					<%= p.label "Genre" %><br />
					<%= p.select :gender , GENRE, {prompt: "Sélectionner"}, class: "form-control", required: true, style: "width: 100%" %>
					</div>

					<div class="form-group">
						<%= p.label "Date naissance" %>
						<%= p.date_field :birth_date , class: "form-control", placeholder: "Date naissance", required: true %>
						</div>

					
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<%= p.label "Service" %>
						<%= form.collection_select(:service_id, @services,  :id, :name , {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%",  required: true) %>
											
					</div>

					<div class="form-group">
						<%= form.label "Profil" %>
						<%= form.collection_select(:role_id, @roles,  :id, :name , {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%", required: true) %>
											
					</div>

				</div>
				

			</div>
		</fieldset><!-- end fieldset -->
		
		<!-- Fieldset address -->
		<fieldset>
		<legend>Adresses</legend>
			<div class="row">
				
				<div class="col-md-12">
					<div class="form-group">
					<%= p.label "Téléphone" %>
					<%= p.text_field :phone , class: "form-control", placeholder: "Téléphone"%>
					</div>
				</div>

				
			</div>
		</fieldset><!-- end fieldset -->
	<% end %>

	
	<!-- Informations de connexions -->
    <fieldset>
		<legend>Informations de connexion</legend>
		<div class="row">
			<div class="col-md-6">
								
				<div class="form-group">
					<%= form.label "Login" %><br />
					<%= form.text_field :login, autofocus: true, autocomplete: "login", class: "form-control", placeholder: "Login", required: true   %>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<%= form.label :email %><br />
					<%= form.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "E-mail", required: true %>
				</div>
			</div>

			

		</div>	
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
						<%= form.label :password %>
						<% if @minimum_password_length %>
						<em>(<%= @minimum_password_length %> characters minimum)</em>
						<% end %><br />
						<%= form.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Mot de passe" %>
					</div>
				
					
			</div>

			<div class="col-md-6">
				<div class="form-group">
						<%= form.label :password_confirmation %><br />
						<%= form.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirmation du mot de passe" %>
					</div>
			</div>
		</div>

	
	</fieldset>
	</div><!-- modal body -->
  <div class="modal-footer">
    <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
    <%= form.submit  class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
  </div>
<% end %>
