<%= form_with(model: appointment, local: false) do |form| %>
   <div class="modal-body">
    <ul class="errors">
    </ul>


    <%= form.hidden_field :doctor_id, class: "form-control", required: true %>
    <%= form.hidden_field :structure_id, class: "form-control", required: true %>
<div class="form-group ">
      <%= form.label :patient_id, class: "required" %>
         <%= form.collection_select :patient_id,  @patients, :id, :phone, {prompt: "Sélectionner"}, style: "width: 100%",  class: "form-control", required: true %>

    </div>

<div class="form-group">
    <%= form.label :reason, "Motif" %>
    <%= form.text_field :reason, class: "form-control", placeholder: "Motif de consultation", required: true %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :day, "Jour" %>
        <%= form.date_field :day, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :start_time, "Heure début" %>
        <%= form.time_field :start_time, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :end_time, "Heure fin" %>
        <%= form.time_field :end_time, class: "form-control" %>
      </div>
    </div>
  </div>

 

  

  </div><!-- modal body -->
  <div class="modal-footer">
    <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
    <%= form.submit  class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
  </div>
<% end %>
