<% @appointments.each do |appointment| %>
    <tr>
    <td><%= appointment.patient.userable.full_name %></td>
    <td><%= appointment.reason %></td>
    <td><%= appointment.day %></td>
    <td><%= appointment.start_time.strftime("%H:%M") %></td>
    <td><%= appointment.end_time.strftime("%H:%M") %></td>
    <td><%= appointment.status %></td>

        <td>
			<div class="action-buttons">
				<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_appointment_path(appointment), title: "Valider", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), appointment_delete_path(appointment), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
    </tr>
<% end %>