<%= form_with(model: feature, local: false) do |form| %>
  <div class="modal-body">
    <ul class="errors">
    </ul>

  <div class="form-group">
    <%= form.label :name, "Nom", class: "required" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Nom", id: :permission_name, required: true %>
  </div>

  <div class="form-group ">
    <%= form.label :subject_class, "Ressource", class: "required" %>
    <%= form.select :subject_class, @subject_classes,{prompt: "Sélectionner"}, class: "form-control",  style: "width: 100%", required: true %>
  </div>

  

  

  </div><!-- modal body -->
  <div class="modal-footer">
    <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
    <%= form.submit  class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
  </div>

<% end %>
