<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @feature.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @feature.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feature.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @feature.status %>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
