<!DOCTYPE html>
<html>
	<head>
		<title><%= "Tableau de bord - #{APPLICATION_NAME}" %></title>	
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
    	<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDRxpYSfeVzq75bkQQYdxGUhhAREUgFcaw&libraries=places"></script>
		<%= javascript_include_tag Ckeditor.cdn_url %>

		<%= render 'layouts/partials/google_analytics' %>

	</head>

  <body >
		
		<%= render :partial => 'layouts/partials/flash_messages', :flash => flash %>
		<!-- Left Sidebar -->
			<%= render('layouts/partials/dashboard/header') %>

		<!-- End Left sidebar -->
<%= render('layouts/partials/dashboard/sidebar') %>
		<div class="br-mainpanel">
				<% unless smtp_config?  %>	
		<%= render 'layouts/partials/smtp_config_alert' %>
		<% end %>

					<%= yield %>
				  

		</div>
	 

	
  </body>
</html>
