<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: APPLICATION_NAME %>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <%= csrf_meta_tags %>
<%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  	<div class="d-flex align-items-center justify-content-center bg-br-primaryY">
	    <div class="login-wrapper wd-300 wd-xs-350 wd-xs-450 pd-25 mb5 mt5 bg-white rounded shadow-base">

			<%= render :partial => 'layouts/partials/flash_messages', :flash => flash %>
      

			<%= yield %>
		</div>
	</div>
  </body>
</html>
