<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{APPLICATION_NAME} "%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>

  <body>
    <%= render("layouts/partials/front/header/header") %>
    <%= yield %>
    
  </body>
</html>
