
<% @structure_profiles.each do |structure| %>
    <tr>
    <td><%= structure.structure_type.name %></td>
    <td><%= structure.name %></td>
    
    <td><%= structure.phone %></td>
    <td><%= structure.locality %></td>
   
    <td>
			<div class="action-buttons">
				<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_structure_profile_path(structure), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), structure_profile_delete_path(structure), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
    </tr>
<% end %>
